body {
    background-image: url("http://www.stockazoo.com/uploads/3/5/4/5/3545172/sky_014.jpg");
}

#grid{
  width: 600px;
  margin: auto;
}

#grid * {
  text-align: center;
}

.square{
  font-family: helvetica;
  font-size: 50px;
  width: 149px;
  height: 149px;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  vertical-align:top;

}

#reset{
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 60px;
  font-size: 18px;
}

#msg{
  text-align: center;
  font-size: 40px;
  margin: 25px auto;
}

